body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.cb-tag-h3 {
    font-size: 1.44em;
}
.cb-float-right{
    float: right;
}
.cb-full-with {
    width: 100%;
}
.cb-margin-bottom {
    margin-bottom: 10px;
}
.cb-ui-content {
    overflow: scroll;
    height: 92vh;
    padding-left: 30px;
    padding-right: 30px;
}
.cb-ui-body {
    height: 92vh;
}
.cb-ui-navbar {
    height: 8vh;
    background-color: #20A0FF;
    padding-top: 1px;
}
.cb-ui-tag {
    margin: 3px;
}
